body {
  background: #FFF url('../images/background-texture.png') center center repeat;
  padding: 0;
  margin: 0;
}

#page {
  width: 940px;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  #page {
    width: 100%;
  }

  #main {
    padding-right: 1em;
    padding-left: 1em;
  }
}

form.inc: * Returns HTML for an element's children fieldsets as vertical tabs.
/*
 * Fonts
 *
 * Our font size and line height declarations are based on the following
 * articles:
 * - http://www.alistapart.com/articles/howtosizetextincss
 * - http://24ways.org/2006/compose-to-a-vertical-rhythm
 *
 * All modern browsers use a 16px default font size. Specifying the font-size
 * and line-height in ems (relative to the 16px default font) allows the user
 * to resize the font in the browser and produces the most consistent results
 * across different browsers.
 */
body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#skip-link,
#page {
  /* Use a 14px base font size with a 21px line height */
  font-size: 0.875em; /* 16px x .875 = 14px */
  line-height: 1.5em; /* 14px x 1.5 = 21px */

  color: #000;
}

/*
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;

@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
