/**
 * @file
 * CSS for Open Academy Maintenance Theme
 */
body {
  background:#222222;
  font:15px/22px "OpenSansRegular";
  color:#4C4C4C;
}

a {
  color:#3E8BC6;
  text-decoration:none;
}

a:hover {
  color:#E61C33;
}

form {
  overflow:hidden;
}

fieldset,
.form-item,
.form-actions {
  margin:0 0 25px;
  width:441px;
}

.form-actions {
  margin-top:20px;
  padding:0 0 20px;
}

input.form-submit {
  width:220px;
  height:50px;
  cursor:pointer;
  display:block;
  color:#333333;
  border:1px solid #D8D8D8;
  border-radius:25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  font:normal 20px/50px arial;
  text-shadow: 1px 1px 1px #FFFFFF;
  box-shadow:1px 2px 1px #686868;
  text-decoration:none;
  margin:0 20px 20px 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzMCwyMzAsMjMwLDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjA0LDIwNCwyMDQsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
  background: -o-linear-gradient(top, rgba(230,230,230,1), rgba(204,204,204,1));
  background: -moz-linear-gradient(top, rgba(230,230,230,1), rgba(204,204,204,1));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(230,230,230,1)), color-stop(1, rgba(204,204,204,1)));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFE6E6E6,EndColorStr=#FFCCCCCC);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFE6E6E6,EndColorStr=#FFCCCCCC)"
}

input.form-submit:hover {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIwNCwyMDQsMjA0LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjMwLDIzMCwyMzAsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
  background: -o-linear-gradient(top, rgba(204,204,204,1), rgba(230,230,230,1));
  background: -moz-linear-gradient(top, rgba(204,204,204,1), rgba(230,230,230,1));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(204,204,204,1)), color-stop(1, rgba(230,230,230,1)));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFCCCCCC,EndColorStr=#FFE6E6E6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFCCCCCC,EndColorStr=#FFE6E6E6)"
}

input.form-submit:active {
  color:#FFFFFF;
  border:1px solid #3F8CC8;
  text-shadow: 1px 1px 1px #333333;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDc1LDE2OCwyMzksMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSg2MywxNDAsMjAwLDEpOyIgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgLz48L3N2Zz4=);
  background: -o-linear-gradient(top, rgba(75,168,239,1), rgba(63,140,200,1));
  background: -moz-linear-gradient(top, rgba(75,168,239,1), rgba(63,140,200,1));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(75,168,239,1)), color-stop(1, rgba(63,140,200,1)));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF4BA8EF,EndColorStr=#FF3F8CC8);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF4BA8EF,EndColorStr=#FF3F8CC8)"
}

label {
  font-weight:bold;
  color:#333333;
  margin:0 0 5px;
}

input.form-text,
textarea.form-textarea{
  width:420px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  padding:10px;
  box-shadow:0px 1px 1px #CCCCCC inset;
  border-style:solid;
  border-width:1px 1px 1px 1px;
  border-color:#969696 #B2B2B2 #C3C3C3 #B1B1B1;
  font-size:15px;
  line-height:22px;
  color:#4C4C4C;
}

textarea.form-textarea {
  width:440px;
}

input.form-text:focus,
textarea.form-textarea:focus{
  background:#ECFAFF;
}

.description,
.fieldset-description{
  margin:5px 0;
  color:#999999;
}

.fieldset-description {
  margin:5px 0 20px;
}

.form-required {
  background: url("../images/icon-required.png") no-repeat scroll center center transparent;
  display: inline-block;
  height: 10px;
  line-height: 10px;
  text-indent: -9999px;
  width: 11px;
}

#console {
  margin:0 0 20px;
}

.messages li {
  margin:0 0 10px;
}

legend {
  text-transform:uppercase;
  font-weight:bold;
  margin-bottom:20px;
}

div.password-strength,
div.password-confirm {
  margin:0 0 10px;
  float:right;
}

div.form-item div.password-suggestions {
  border: medium none;
  margin: -20px 0 0;
  padding: 0;
  width: auto;
}

fieldset {
  background:#D9D9D9;
  padding:45px 18px 0;
  border:1px solid #EFEFEF;
  box-shadow:0 1px 3px #999999 inset;
  -moz-box-shadow:0 1px 3px #999999 inset;
  -webkit-box-shadow:0 1px 3px #999999 inset;
  border-radius:10px 10px 10px 10px;
  margin:0 0 30px;
}

fieldset legend {
  margin:0;
  position:absolute;
}

fieldset legend span{
  display:block;
  position: relative;
  top: -35px;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left:24px;
}

.progress .bar{
  height:42px;
  box-shadow: 0 1px 2px #636363 inset;
  -moz-box-shadow: 0 1px 2px #636363 inset;
  -webkit-box-shadow: 0 1px 2px #636363 inset;
  margin:0;
  border-color:#636363 #868686 #9A9A9A #858585;
  border-style:solid;
  border-width:1px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

.progress .bar .filled{
  height:42px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDc1LDE2OCwyMzksMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSg2MywxNDAsMjAwLDEpOyIgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgLz48L3N2Zz4=);
  background: -o-linear-gradient(top, rgba(75,168,239,1), rgba(63,140,200,1));
  background: -moz-linear-gradient(top, rgba(75,168,239,1), rgba(63,140,200,1));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(75,168,239,1)), color-stop(1, rgba(63,140,200,1)));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF4BA8EF,EndColorStr=#FF3F8CC8);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF4BA8EF,EndColorStr=#FF3F8CC8)"
}

.progress .message {
  margin:5px 0;
  font-weight:normal;
  font-size:14px;
}

.progress .percentage {
  margin:5px 0;
  font-size:20px;
}

/**
 * Layout
 */
#page-wrapper {
  width:1200px;
  margin:0 auto;
  background:#EFEFEF;
}

.inside {
  width:910px;
  margin:0 auto;
}

#branding {
  background:#333333;
}

#branding .inside {
  height:80px;
}

#page .inside {
  padding:20px 0;
}

#sidebar-first {
  width:220px;
  float:left;
}

#content {
  margin:0 0 0 260px;
  width:auto;
}

/**
 * Structure
 */
h1#site-name {
  background: url("../logo.png") no-repeat scroll center center transparent;
  float: left;
  height: 42px;
  margin: 19px 0;
  text-indent: -9999px;
  width: 224px;
}

h2#slogan {
  background: url("../images/install-wizard.png") no-repeat scroll center center transparent;
  float: left;
  height: 23px;
  margin: 29px 0 28px 20px;
  text-indent: -9999px;
  width: 225px;
}

#copyright {
  float:right;
  color:#999999;
  margin-top:10px;
}

#copyright p {
  font-size: 13px;
  text-transform: uppercase;
  display:block;
  padding:0 50px 0 0;
  height:25px;
  text-align:right;
  letter-spacing: 0.5px;
}

#copyright p.link-chapterthree {
  margin-bottom: 9px;
  height:24px;
  background:url(../images/logo-chapterthree-small.png) no-repeat right center transparent;
}

#copyright p.link-drupal {
  background:url(../images/logo-drupal-small.png) no-repeat right center transparent;
}

ol.task-list {
  font-size:18px;
  line-height:25px;
  margin:35px 0;
  color:#B2B2B2;
}

ol.task-list li {
  margin:0 0 20px;
  padding:0 0 0 25px;
}

ol.task-list li.active {
  font-weight:bold;
  background:url(../images/icon-current.png) no-repeat left 8px transparent;
  color:#333333;
}

ol.task-list li.done {
  font-weight:bold;
  background:url(../images/icon-done.png) no-repeat left 7px transparent;
  color:#3E8BC6;
}

p.steps {
  color:#999999;
  margin-bottom:15px;
}

h1#page-title {
  color:#333333;
  font-size:30px;
  margin-bottom:18px;
}

.guidelines {
  width:470px;
  margin-bottom:18px;
}

/**
 * Select Profile
 */
#install-select-profile-form .form-item-profile {
  background:#FFFFFF;
  border-radius:3px 3px 3px 3px;
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  padding:15px 20px;
  width:500px;
  position:relative;
  color:#000000;
}

#install-select-profile-form .form-item-profile label {
  font-size:20px;
  line-height:25px;
  width:auto;
  margin-left:20px;
}

#install-select-profile-form .form-item-profile .description {
  margin:0 0 0 33px;
}

#install-select-profile-form .form-item-profile .form-radio {
  margin:7px 0 0;
  float:left;
}

/**
 * Welcome
 */
h2.bubble {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  color: #4C4C4C;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 15px;
  width: 495px;
  position:relative;
}

h2.bubble span.tip {
  background: url("../images/bubble-tip.png") no-repeat scroll center center transparent;
  bottom: -29px;
  display: block;
  height: 29px;
  left: 195px;
  position: absolute;
  width: 29px;
}

img.openacademysaurus {
  margin:40px 0;
  float:left;
}

#openacademy-welcome .form-actions {
  float: right;
  margin-top: 120px;
  width: 300px;
}

#openacademy-welcome .form-actions .form-submit {
  margin:0;
  width:220px;
  height:50px;
  display:block;
  border-radius:25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  font:normal 20px/50px arial;
  box-shadow:1px 2px 1px #686868;
  -moz-box-shadow:1px 2px 1px #686868;
  -webkit-box-shadow:1px 2px 1px #686868;
  text-decoration:none;
  color:#FFFFFF;
  text-shadow:1px 1px 1px #1C5AAB;
  border:none;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDc0LDE2NiwyMzgsMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSg2NCwxNDMsMjA0LDEpOyIgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgLz48L3N2Zz4=);
  background: -o-linear-gradient(top, rgba(74,166,238,1), rgba(64,143,204,1));
  background: -moz-linear-gradient(top, rgba(74,166,238,1), rgba(64,143,204,1));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(74,166,238,1)), color-stop(1, rgba(64,143,204,1)));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF4AA6EE,EndColorStr=#FF408FCC);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF4AA6EE,EndColorStr=#FF408FCC)"
}

#openacademy-welcome #the-awesomes {
  clear:both;
}

#openacademy-welcome #the-awesomes{
  text-transform:uppercase;
  font-size:14px;
  line-height:22px;
}

#openacademy-welcome #the-awesomes a,
#openacademy-welcome #the-awesomes span{
  margin:10px 20px 0 0;
  float:left;
}

#openacademy-welcome #the-awesomes a.link-chapterthree {
  background: url("../images/logo-chapterthree.png") no-repeat scroll center center transparent;
  clear: both;
  height: 50px;
  text-indent: -9999px;
  width: 168px;
}

#openacademy-welcome #the-awesomes a.link-pantheon {
  background: url("../images/logo-pantheon.png") no-repeat scroll center center transparent;
  height: 41px;
  text-indent: -9999px;
  width: 228px;
}

#openacademy-welcome #the-awesomes .plus {
  background: url("../images/icon-plus.png") no-repeat scroll center center transparent;
  height: 50px;
  text-indent: -9999px;
  width: 18px;
}

/**
 * Configure site 
 */
#edit-admin-account {
  background:#D9D9D9;
  padding:45px 18px 0;
  border:1px solid #EFEFEF;
  box-shadow:0 1px 3px #999999 inset;
  -moz-box-shadow:0 1px 3px #999999 inset;
  -webkit-box-shadow:0 1px 3px #999999 inset;
  border-radius:10px 10px 10px 10px;
  margin:0 0 30px;
}

#edit-admin-account legend {
  margin:0;
  position:absolute;
}

#edit-admin-account legend span{
  display:block;
  position: relative;
  top: -35px;
}

#edit-update-notifications legend {
  margin:0;
}

/**
 * Install Apps
 */
#apps-profile-apps-select-form #edit-apps .form-type-checkbox{
  border-radius:3px 3px 3px 3px;
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  padding:15px 15px 15px 50px;
  width:500px;
  position:relative;
  background:#FFFFFF;
  color:#000000;
  margin-bottom:20px;
}

#apps-profile-apps-select-form #edit-apps .form-type-checkbox label {
  font-size:20px;
  font-weight:bold;
}

#apps-profile-apps-select-form #edit-apps .form-type-checkbox .admin-options {
  margin:0;
  font-size:13px;
  line-height:18px;
  font-weight:normal;
}

#apps-profile-apps-select-form #edit-apps .form-type-checkbox .form-checkbox {
  left: 20px;
  margin: 0;
  position: absolute;
  top: 23px;
  font-weight:normal;
}

#apps-profile-apps-select-form #edit-apps .app-icon {
  float:left;
  margin:3px 20px 0 0;
}

#apps-profile-apps-select-form #edit-apps .app-icon img {
  width:40px;
  height:auto;
}

#edit-apps-fieldset {
  padding:0;
  border:none;
  background:none;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

#edit-apps-fieldset legend {
  position:static;
  margin-bottom:10px;
}

#edit-apps-fieldset legend span {
  position:static;
  top:auto;
}

/**
 * Enable Apps Support
 */
#openacademy-apps-check > div > p {
  padding-bottom: 1em;
}

/**
 * Choose Theme
 */
#openacademy-theme-form {
  width:481px;
}

#openacademy-theme-form label{
  margin-bottom:20px;
}

#openacademy-theme-form #edit-theme .form-type-radio {
  border-radius:3px 3px 3px 3px;
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  padding:20px;
  background:#FFFFFF;
  color:#000000;
  margin:0 20px 20px 0;
  overflow:hidden;
  cursor:pointer;
}

#openacademy-theme-form #edit-theme .form-radio {
  margin:0 20px 0 0;
  float:left;
}

#openacademy-theme-form #edit-theme .form-type-radio label {
  display:block;
  float:left;
  width:400px;
  cursor:pointer;
  margin:0;
}

#openacademy-theme-form #edit-theme .form-type-radio img {
  width:180px;
  height:auto;
  float:left;
  margin:0 20px 0 0;
}

#openacademy-theme-form #edit-theme .form-type-radio strong {
  font-size:20px;
  line-height:25px;
  font-weight:bold;
}

#openacademy-theme-form #edit-theme .form-type-radio p {
  margin:0;
  font-size:13px;
  line-height:18px;
  font-weight:normal;
}

/**
 * Configure Theme
 */
#openacademy-theme-configure-form legend {
  margin:0;
}

/**
 * Finished Yah!
 */
#openacademy-finished-yah img {
  margin:30px 0 10px;
}

#openacademy-finished-yah .form-actions {
  float: right;
  margin-top: 120px;
  width: 300px;
}

#openacademy-finished-yah .form-actions .form-submit {
  margin:0;
  width:220px;
  height:50px;
  display:block;
  border-radius:25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  font:normal 20px/50px arial;
  box-shadow:1px 2px 1px #686868;
  -moz-box-shadow:1px 2px 1px #686868;
  -webkit-box-shadow:1px 2px 1px #686868;
  text-decoration:none;
  color:#FFFFFF;
  text-shadow:1px 1px 1px #1C5AAB;
  border:none;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDc0LDE2NiwyMzgsMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSg2NCwxNDMsMjA0LDEpOyIgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgLz48L3N2Zz4=);
  background: -o-linear-gradient(top, rgba(74,166,238,1), rgba(64,143,204,1));
  background: -moz-linear-gradient(top, rgba(74,166,238,1), rgba(64,143,204,1));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(74,166,238,1)), color-stop(1, rgba(64,143,204,1)));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF4AA6EE,EndColorStr=#FF408FCC);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF4AA6EE,EndColorStr=#FF408FCC)"
}

#apps-profile-apps-select-form #edit-apps .form-item-checked,
#openacademy-theme-form #edit-theme .form-item-checked,
#install-select-profile-form .form-item-checked {
  background:#3E8BC6 !important;
  color:#FFFFFF !important;
}

#apps-profile-apps-select-form #edit-apps .form-item-checked label,
#openacademy-theme-form #edit-theme .form-item-checked label,
#install-select-profile-form .form-item-checked label,
#apps-profile-apps-select-form #edit-apps .form-item-checked .description,
#openacademy-theme-form #edit-theme .form-item-checked .description,
#install-select-profile-form .form-item-checked .description{
  color:#FFFFFF !important;
}
